<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分组列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<style type="text/css">
    .role_pri input[type="checkbox"]{
        display: none;
    }
    .role_pri input[type="checkbox"]+label {
        display: inline-block;
        width: 40%;
        margin-top: 10px;
        margin-left: 5px;
        text-align: left;
        -webkit-box-sizing: border-box;
    }

    .role_pri label::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: white;
        border:1px solid lightgrey;
        vertical-align: middle;
        /*-webkit-border-radius: 50%;*/
        margin-right: 5px;
        -webkit-box-sizing:border-box;
        -webkit-transition:background ease-in .5s
    }

    .role_pri input[type="checkbox"]:checked+label::before{
        background-color: rgb(53, 183, 111);
        border: 5px #EEE solid;
    }
    .role_pri label:hover::before {
       border:1px solid limegreen;
    }
</style>
<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="post" action='__URL__user/edit_team_info' class="form-horizontal" onsubmit="return check()">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分组名称：</label>
                            <div class="col-sm-10">
                                <input  type="text"  class="form-control team_name" name="team_name" value="<{$team.name}>"/>
                                <span class="help-block m-b-none" style="color:red;display: none;">*角色名称不能为空</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属分部：</label>
                            <div class="col-sm-10">
                                <select name="father_team" class="form-control father_team" disabled>
                                    <option value="0">请选择</option>
                                    <option value="1" <if condition="$team.father_team eq 1">selected="selected"</if>>挂靠一部</option>
                                    <option value="2" <if condition="$team.father_team eq 2">selected="selected"</if>>挂靠二部</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary"  type="submit">保存内容</button>&nbsp;&nbsp;
                                <a class="btn btn-white" id="close">取消</a>
                            </div>
                        </div>
                        <input type="hidden" value="<{$team.id}>" name="id"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="__PUBLIC__js/jquery.min.js"></script>
<script src="__PUBLIC__assets/js/bootstrap.min.js"></script>
<script src="__PUBLIC__js/layer/layer.js"></script>
<script src="__PUBLIC__js/content.min.js"></script>
<script type="text/javascript">
    var index = parent.layer.getFrameIndex(window.name);
    $('#close').click(function(){
        parent.layer.close(index);
    });
    var success = '<{$success}>';
    if (success == '1') {
        layer.msg('操作成功', {
            icon: 1,
            time: 2000 //2秒关闭（如果不配置，默认是3秒）
        }, function(){
            parent.layer.close(index);
        });
        setTimeout(function(){
            parent.location.reload();
        },500);
    }
    var tag = 0;
    $('input[name=team_name]').blur(function(){
        var t_name = $.trim($(this).val());
        var id = "<{$team.id}>";
        if(t_name != ''){
            $.post('__URL__user/check_edit_tname',{t_name:t_name,id:id},function(data){
                if(data.state == 1){
                    layer.tips(data.info,'.team_name',{
                        tips: [3, '#D15B47'],
                        time: 2500
                    });
                    tag = 1;
                }else{
                    tag = 0;
                }
            });
        }
    });
    function check(){
        var t_name = $.trim($('input[name=team_name]').val());
        var father_team = $('.father_team').val();
        var id = "<{$team.id}>";
        if(t_name == ''){
            layer.tips('请填写分组名称','.team_name',{
                        tips: [3, '#D15B47'],
                        time: 2500
                    });
            return false;
        }
        $.ajax({  
            type : "post",  
            url : "__URL__user/check_edit_tname",  
            data : {t_name:t_name,id:id},  
            async : false,  
            success : function(data){  
                    if(data.state == 1){
                        tag = 1;
                    }else{
                        tag = 0;
                    }
            }  
        }); 
        if(tag == 1){
            layer.tips('该组名已存在','.team_name',{
                        tips: [3, '#D15B47'],
                        time: 2500
                    });
            return false;
        }
        if(father_team == 0){
            layer.tips('请选择所属分部','.father_team',{
                        tips: [3, '#D15B47'],
                        time: 2500
                    });
            return false;
        }
    }
</script>